body{
    width: 100%;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.25);
}
#continent_middle .continent_mainmenu {
    padding: 10px;
    margin: 10px;
    border: 10px;
    display: inline-block;
}
.button {
    padding: 13px;
    border-radius: 980px;
    background-color: #0071e3;
    color: white;
    display: inline-block;
    margin-bottom: 16px;
}
.button:hover {
    border: 1px solid #0071e3;;
    background-color: white;
    color: black;
    margin-bottom: 14px;
}
img {
    width: 980px;
}
.break {
    width: 100%;
    height: 10px;
    background-color: #f5f5f7;
}
.topBtn {
	position: fixed;
	right: 30px; 
	bottom: 30px;
    width: 40px;
    height: 40px;
}