#subTopMenu {
    float: left;
    width: 100%;
    list-style: none;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(184, 181, 181);
}
#subTopMenu li {
    display: inline-block;
    width: 170px;
    text-decoration:none;
    color: white;
}
#subTopMenu .Subtopmenu_list {
    text-decoration:none;
    color: black;
}
#subTopMenu .Subtopmenu_list:hover {
    color: rgb(255, 255, 255);
}