body{
    width: 100%;
    vertical-align: middle;
    text-align: center;
}
#Asia_mainmenu_middle .Asia_mainmenu_southkorea {
    padding: 10px;
    margin: 10px;
    border: 10px;
    display: inline-block;
}
.button {
    padding: 13px;
    border-radius: 980px;
    background-color: #0071e3;
    color: white;
    display: inline-block;
    margin-bottom: 15px;
}